<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GISLayer Vector Tile Server Restfull API</title>
</head>
<body>
  <h1>GISLayer Vector Tile Server Restfull API V.1.0.2</h1>
  <hr>
  <h2>GET Route</h2>
  <ul>
    <li>Server Close : <b>http://localhost:1881/close</b></li>
    <li>PBF Vector Tile Service : <b>http://localhost:1881/tileserver/:fileid/pbf/:name/:z/:x/:y.pbf</b></li>
    <li>XYZ Raster Tile Service : <b>http://localhost:1881/tileserver/:fileid/xyz/:name/:z/:x/:y.png</b></li>
  </ul>
</body>
</html>